{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TrytonBot{% endblock %}</title>

    {# Carga de estilos #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% endblock %}
    <link rel="icon" href="/TrytonBot/public/favicon.ico" type="image/x-icon">
</head>
<body>
    {# Contenido de la página #}
    {% block body %}{% endblock %}

    {# Carga de scripts #}
    {% block javascripts %}
        {{ encore_entry_script_tags('appJs') }} {# Cambiado para reflejar el nuevo nombre #}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% endblock %}

</body>
</html>
